.btn {
  padding: 12px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.btn_start {
  background-color: chartreuse;
}

.btn_stop {
  background-color: var(--c-red);
}
