.tabs_links {
    display: flex;
}

.tabs_link {
    margin: 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.2s;
    flex-grow: 1;
    text-align: center;
}

.tabs_link_active {
    background: white;
    color: black;
}

.tabs_link:hover {
    cursor: pointer;
    background: white;
    color: black;
}

.tabs_tabs {
    margin: 10px;
}
