.settings_page {
    width: 100vw;
    height: calc(100vh - 90px);
    margin-top: 90px;
    padding: 10px;
    position: relative;
}

@media (min-width: 900px) {
    .settings_page {
        max-width: 800px;
        margin: 90px auto 0;
    }
}

.settings_wrap {
    display: flex;
    align-items: flex-start;
}

.settings_sidebar {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    overflow: hidden;
    position: fixed;
    left: 10px;
    transform: translateX(-120%);
    background-color: rgb(2, 27, 27);
    transition: transform 0.2s ease;
    z-index: 5;
    width: 80%;
}

@media (min-width: 900px) {
    .settings_sidebar {
        position: static;
        transform: translateX(0);
        width: auto;
    }
}

.settings_sidebar.open {
    transform: translateX(0);
}

.settings_overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.settings_overlay.open {
    display: block;
}

@media (min-width: 900px) {
    .settings_overlay.open {
        display: none;
    }
}

.settings_sidebar a {
    border-bottom: 1px solid white;
    padding: 8px 10px 8px 16px;
}

.settings_sidebar a.active {
    border-bottom: 1px solid white;
    box-shadow: inset 8px 0 green;
}

.settings_sidebar a:last-child {
    border: none;
}

.settings_content {
    border: 1px solid white;
    border-radius: 10px;
    flex-grow: 1;
    padding: 10px;
}

.settings_menu_btn {
    margin-bottom: 15px;
}

@media (min-width: 900px) {
    .settings_menu_btn {
        display: none;
    }
}

.settings_content h4 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
