.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: black;
}

.header_top_row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
}

.header_bottom_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px 6px;
    background: rgba(255, 255, 255, 0.1);
}

.user_name {
    font-size: 0.7rem;
    margin-right: 10px;
}

.user_name:hover {
    text-decoration: underline;
}
