.field {
    position: relative;
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    margin: 4px 0;
}

.field svg {
    color: white;
    width: 20px;
    height: 20px;
}

.input {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    outline: none;
    width: 100%;
}

.input.password {
    padding-right: 35px;
}

.input.invalid {
    border-color: red;
}

.input.valid {
    border-color: green;
}

.label {
    position: absolute;
    top: 32px;
    left: 12px;
    margin-bottom: 5px;
    transition: top 0.2s ease;
}

.label.invalid {
    color: red;
}

.label.valid {
    color: green;
}

.label.focused {
    top: -4px;
    left: 0;
}

.err_message {
    color: red;
    position: absolute;
    bottom: -2px;
}

.show_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    line-height: 20px;
}
