:root {
    --w-width: 95vw;
    --w-height: 95vh;
    --hole-size: 75%;
    --c-red: rgb(197, 37, 37);
}

@media (min-width: 640px) {
    :root {
        --w-width: 70vw;
        --w-height: 70vh;
    }
}

* {
    font-family: monospace, sans-serif;
}

body {
    background: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 10px;
    margin-top: 65px;
}

@media (hover: hover) {
    .app.running .hole_wrap:hover:before {
        border-color: var(--c-red);
    }

    .app.running .hole_wrap.active:hover:before {
        border-color: green;
    }
}

@media (hover: none) {
    .app.running .hole_wrap:hover:before {
        border-color: transparent;
    }

    .app.running .hole_wrap.active:before {
        border-color: green;
    }

    .app.running .hole_wrap.missed:before {
        border-color: var(--c-red);
    }
}

/* @media (max-width: 600px) {
    .app.running .hole_wrap.missed:before {
        border-color: var(--c-red);
    }

    .app.running .hole_wrap:hover:before {
        border-color: transparent;
    }
} */

fieldset {
    border-radius: 10px;
    font-size: 24px;
}

fieldset span {
    font-size: 1rem;
}

.form-field {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tac {
    text-align: center;
}

.df {
    display: flex;
}

.aic {
    align-items: center;
}
