:root {
    --w-width: 95vw;
    --w-height: 95vh;
    --hole-size: 75%;
    --c-red: rgb(197, 37, 37);
}

@media (min-width: 640px) {
    :root {
        --w-width: 80vw;
        --w-height: 80vh;
    }
}

* {
    font-family: monospace, sans-serif;
}

body {
    background: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

header.title {
    position: absolute;
    top: 32px;
    color: var(--c-red);
    font-weight: bold;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 10px;
    margin-top: 30px;
}

@media (hover: hover) {
    .app.running .hole_wrap:hover:before {
        border-color: var(--c-red);
    }

    .app.running .hole_wrap.active:hover:before {
        border-color: green;
    }
}

@media (hover: none) {
    .app.running .hole-wrap.missed:before {
        border-color: var(--c-red);
    }
}

fieldset {
    border-radius: 10px;
}

.form-field {
    position: relative;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
