:root {
  --w-width: 80vw;
  --w-height: 80vh;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: monospace, sans-serif;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.display {
  padding: 10px 0;
  display: flex;
  color: white;
}

.display > div {
  margin-right: 20px;
}

.field {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background:rgb(217, 172, 57);
  height: var(--w-width);
  width: var(--w-width);
  max-height: var(--w-height);
  max-width: var(--w-height);
  margin: 0 auto;
  border-radius: 20px;
}

.hole-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field.cols-4 .hole-wrap {
  width: 50%;
  height: 50%;
}

.field.cols-9 .hole-wrap,
.field.cols-6 .hole-wrap {
  width: 33.33%;
  height: 33.33%;
}

.field.cols-12 .hole-wrap,
.field.cols-16 .hole-wrap {
  width: 25%;
  height: 25%;
}

.field.cols-20 .hole-wrap,
.field.cols-25 .hole-wrap {
  width: 20%;
  height: 20%;
}

.hole {
  width: 75%;
  height: 75%;
  border: 4px solid green;
  border-radius: 50%;
  background-color: rgb(30, 13, 3);
  color: white;
  box-shadow: inset 0px 30px black;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .6s ease; 
}

.hole:hover {
  cursor: crosshair;
  border-color: red;
}

.hole.active:hover {
  border-width: 10px;
}

.hole.active {
  background-color: rgb(83, 6, 6);
}

.btn {
  padding: 12px 30px;
  margin-top: 20px;
  
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.btn--start {
  background-color: chartreuse;
}

.btn--stop {
  background-color: rgb(197, 37, 37);
}

.badger-img {
  max-width: 80%;
  transform: translateY(150%);
  transition: transform 500ms ease-in-out; 
}

.badger-img.visible {
  transform: translateY(0);
}

.badger-img.killed.visible {
  transition: transform 100ms;
  transform: translateY(0) rotate(90deg);
}

.badger-img.killed {
  transition: transform 200ms ease-in;
  transform: translateY(150%) rotate(90deg);
}